.dashboard {
    display: flex;

    .pageContent {
        flex: 1;
        padding: 1.5rem 2rem;

        .graphs {
            .totalRevenue, .totalMembers {
                border: 1px solid var(--gray-400);
                border-radius: 10px;
                width: 400px;

                .icon {
                    color: var(--gray-400);
                    font-size: 30px;
                }
            }
            //
            .totalMembers {
                flex: 1;
            }
        }
    }
}